# Python cache
__pycache__/
*.pyc

# Logs
logs/
*.log

# Builds
build/
installer/build/
installer/dist/TRX_Cat_control/
*.spec

# Virtualenv
.venv/
venv/

# Archives / media / temp / backups
*.rar
*.wav
*.mp3
*.mp4
*.jpg
*.jpeg
*.png
temp_*
*Backup*