# Python cache
__pycache__/
*.pyc

# Logs
logs/
*.log

# Builds
*.spec

# Virtualenv
.venv/
venv/

# Archives / media / temp / backups
*.zip
*.7z
*.rar
*.wav
*.mp3
*.mp4
*.jpg
*.jpeg
*.png
temp_*
*Backup*